@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 100%;
    z-index: 9999;
}
header img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
header ul li a{
    text-decoration: none;
    color: #939393;
    font-size: 16px;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s linear;
}

header ul li a:hover{
    color: #cbfc01;
}

header button{
    padding: 10px 28px;
    border: none;
    color: #939393;
    font-size: 16px;
    background: rgb(36, 36, 36);
    border-radius: 8px;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s linear;

}
header button:hover{
    background-color: #cbfc01;
    color: #000;
}
main{
    width: 100%;
    min-height: 100%;
    background-color: #000;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}
.hero-section {
    width: 100%;
    height: 140vh;
    padding-top: 150px;
    text-align: center;
}
.hero-section h1{
    font-size: 8.5vw;
    color: #fff;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    gap: 70px;
    overflow: hidden;
}
.hero-section h1 span{
    font-size: 8.5vw;
    color: #fff;
    font-family: 'archivo black', sans-serif;
    animation: move 10s linear infinite;

}

@keyframes move {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-100%);
    }
}

.hero-section h1 span:nth-child(even){
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    transition: all 0.3s  ease-in-out;
}

.hero-section .heroimg{
    width: 80%;
    text-align: center;
    margin-top: 0px;
    filter: drop-shadow(5px 5px 20px #555);
    animation: movedown 4s ease-in-out infinite;

}

@keyframes movedown{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-25px);
    }
}

.hero-bottomContant{
    width: 100%;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins', sans-serif;
}
.hero-bottomContant p {
    text-align: left;
    font-size: 18px;
    font-family: 'poppins', sans-serif;

}

.hero-bottomContant .imgcontant{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.hero-bottomContant .imgcontant img{
    width: 120px;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 2px #dadada;
    object-fit: cover;
    transition: all 0.5s linear;

}

.hero-bottomContant .imgcontant img:hover{
    transform: scale(1.1);
}

.hero-section h3{
    color: #cbfc01;
    font-size: 3vw;
    z-index: 999;
    font-family: 'poppins', sans-serif;


}

.myArrow{
    transition: all 0.4s linear;
    border-radius: 50px;

}

.myArrow:hover {
    border-radius: 50px;
    border: 1px solid #cbfc01;
    padding: 12px;
}